body{
  margin: 10%;
}
.jobDescription{
  display: flex;
  flex-direction: column;
}
.job{
  border: 1px solid black;
  margin: 10px;
}
.navbar{
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  border: 1px solid black;
  width: 80vw;
  color: white;
  background: black;
}
.form{
  margin-top: 15px;
}
.loginContainer{
  display: flex;
  flex-direction: column;
}

/* SIGN UP MODAL  */
.modal {
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */
  position: fixed; /* Stay in place */
  width: 100%; /* Full width */
  padding-top: 200px; /* Location of the box */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
    0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* Modal Content */
.modal-content {
  border-radius: 15px;
  background-color: #f2bdbd;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}