/* BODY CSS */
body{
 background-color: #ffff;
}

/* JOB DESCRIPTION PAGE CSS AREA */
.jobDescription{
  display: flex;
  flex-direction: column;
}

/* JOB DESCRIPTION BOX LAYOUT */
.jobInfo{
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
    0 5px 40px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3); /*shadow effect*/
  border: 1px solid gray;
  margin: 10px;
  border-radius: 8px;
  padding: 15px;
  margin: 4%;
}

/* MARGIN OF THE HOME PAGE */
.jobPage{
  margin: 10%;
}

/* MARGIN FOR THE HOME PAGE HEADINGS */
.jobHeading{
  margin: 40px;
}

/* CSS FOR THE JOB FILTER SEARCH BARS */
.jobSearchform{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* NAVBAR CSS */
.navbar{
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  width: 99vw;
  color: white;
  background: rgb(56, 56, 208);
}

/* NAVBAR LOGIN FORM SETUP CSS */
#navbarLogo { 
  color: white;
  text-decoration: none;
  padding-left: 50px;
  font-size: 25px;
}

/* NAVBAR LOGIN CONTAINER, HOLDS SIGN UP BUTTON TOO */
.loginContainer{
  display: flex;
  padding-top: 15px;
}

/* THIS DIV HOLDS THE LOGIN FORM AND IT'S ERROR MESSAGE IN THE NAV BAR */
.login{
  display: flex;
  flex-direction: column;
}

/* CSS FOR MOST BUTTONS WITH SOME EXCEPTIONS*/
.button{
  font-size: 16px;
  padding: 12px 20px;  
  width: 100px;
  background-color: #4CAF50;
  color: white;
  border: none;
  text-decoration: none;
}

/* NAV BAR SIGNUP BUTTON EXCEPTION CSS SLIGHTLY DIFFERENT */
.signUpButton{
  font-size: 16px;
  padding: 12px 20px;  
  width: 100px;
  height: 40px;
  background-color: #4CAF50;
  color: white;
  border: none;
  text-decoration: none;
  margin-right: 2%;
}

/* LOGIN MODAL SIGNUP BUTTON EXCEPTION CSS SLIGHTLY DIFFERENT */
.signUpButtonModal{
  margin-left: 5px;
  font-size: 16px;
  padding: 12px 20px;  
  width: 100px;
  height: 42px;
  background-color: #4CAF50;
  color: white;
  border: none;
  text-decoration: none;
}

/* HOVER OVER PROPS FOR ALL BUTTONS */
.button:hover, .signUpButton:hover, .signUpButtonModal:hover {
  cursor: pointer;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
    0 5px 30px 1px rgba(96, 93, 93, 0.56), 0 0 0 1px rgba(63, 61, 61, 0.3);
}

/* CSS FOR ALL INPUT=TEXT BOXES */
input[type=text] {
  width: 33%;
  padding: 12px 20px;
  box-sizing: border-box;
}

/* CSS FOR ALL INPUT=PASSWORD BOXES */
input[type=password] {
  width: 33%;
  padding: 12px 20px;
  box-sizing: border-box;
}

/* CSS FOR ALL INPUT=TEXTAREA BOXES */
input[type=textarea] {
  width: 20%;
  padding: 12px 20px;
  margin-left: 1%;
  box-sizing: border-box;
}

/* SIGN UP MODAL CSS */
.modal {
  z-index: 1; 
  left: 0;
  top: 0;
  overflow: auto; 
  position: fixed; 
  width: 100%; 
  padding-top: 200px; 
  height: 100%; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0, 0, 0, 0.954); 
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
    0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3); /*shadow effect*/
  text-align: center;
}

/* ALL MODAL CONTENT*/
.modal-content {
  border-radius: 8px;
  background-color: #f2bdbd;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* TEXTAREA BOX CSS */
textarea {
  padding: 12px 20px;
  resize: none;
  width: 100%;
  border: 2px solid #ccc;
  height: 150px;
  border-radius: 4px;
  background-color: #f8f8f8;
  box-sizing: border-box;
}

/* THE X (CLOSE) BUTTON CSS */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* THE X (CLOSE) BUTTON:HOVER CSS */
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* FOOTER CSS */
.footer{
  position: relative;
  align-items: center;
 
}

/* MEDIA QUERIES AREA*/
@media only screen and (max-width: 800px){
  .jobPage{
    margin-top: 30%;
    margin-left: 0;
  }
}