body{
  margin: 10%;
}
.jobDescription{
  display: flex;
  flex-direction: column;
}
.job{
  border: 1px solid black;
  margin: 10px;
}
.navbar{
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  border: 1px solid black;
  width: 80vw;
  color: white;
  background: black;
}
.form{
  margin-top: 15px;
}
.loginContainer{
  display: flex;
  flex-direction: column;
}